{% extends "admin.layouts.app" %}

{% block title %}Просмотр запросов{% endblock %}
{% block content %}

    <h1>Просмотр запросов</h1>

    <div class="well well-sm">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="query" value="{{ query | lower  }}" class="form-control"  placeholder="укажите текст запроса">
            </div>
            <button type="submit" class="btn btn-default">Найти</button>
        </form>
    </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Сайт</th>
                <th>Запрос</th>
                <th class="text-center"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.created_at | date("d.m.Y (H:i)") }}</td>
                <td>{{ item.source }} </td>
                <td>{{ item.text | lower  }}</td>
                <td class="text-center">{{ item.images.count() }}</td>
                <td><a href="{{ route('admin_queries_view', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {{ list.render() | raw }}

{% endblock %}

