{% extends "admin.layouts.app" %}

{% block title %}Просмотр параметров запроса{% endblock %}
{% block content %}

    <h1>Запрос: <strong>{{ query.text | lower }}</strong></h1>

    <div class="row">
        <div class="col-md-3">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td><span class="glyphicon glyphicon-tag text-success" aria-hidden="true"></span> isuzu</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                    </td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-tag text-danger" aria-hidden="true"></span> max</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                    </td>
                </tr>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created_at | date("d.m.Y (H:i)") }}</td>
                        <td>{{ item.source }} </td>
                        <td>{{ item.text | lower  }}</td>
                        <td class="text-center">0</td>
                        <td><a href="{{ route('admin_queries_view', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-9">

            {% if query.images.count() is empty %}
            <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Нет загруженных картинок</div>
            {% else %}
                <div class="row">
                {% for item in query.images %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ item.href() }}" alt="...">
                            <div class="caption">
                                <h3>#{{ item.id }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

