<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,500,700" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .nav {
            width: 100%
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid" style="padding: 0px">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ route('admin_files_index') }}">Файлы<span class="pull-right hidden-xs showopacity glyphicon glyphicon-file"></span></a></li>
                        <li><a href="{{ route('admin_queries_index') }}">Запросы<span class="pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-8 col-xs-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
