{% extends "admin.layouts.app" %}

{% block title %}Загрузить файл{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>Загрузить файл</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <form action="{{ route('admin_files_upload') }}" enctype="multipart/form-data" method="post">
                {{ csrf_field() }}
                <div class="form-group">
                    <label>Выберите сайт</label>
                    <select class="form-control" name="source_id" required>
                        <option>--</option>
                        {% for item in list %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Выберите файл в формате csv</label>
                    <input type="file" name="file" accept=".csv" required>
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>
    </div>
{% endblock %}

