{% extends "back.layouts.app" %}

{% block title %}Выбор зпросов{% endblock %}
{% block content %}

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Запрос</th>
            <th><a href="">Производитель <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></th>
            <th><a href="">Модификация <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></th>
            <th><a href="">Запчасть <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr {% if item.confirmed > 0 %}class="success"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>{{ item.text }}</td>
                <td>
                    {% if item.maker is not empty %}
                        1
                    {% else %}
                        <p class="text-muted">--</p>
                    {% endif %}
                </td>
                <td>
                    {% if item.maker is not empty %}
                        1
                    {% else %}
                        <p class="text-muted">--</p>
                    {% endif %}
                </td>
                <td>
                    {% if item.maker is not empty %}
                        1
                    {% else %}
                        <p class="text-muted">--</p>
                    {% endif %}
                </td>
                <th>
                    {% if item.confirmed > 0 %}
                        <p class="text-danger"><span class="glyphicon glyphicon-remove"></span></p>
                    {% else %}
                        <p class="text-success"><span class="glyphicon glyphicon-ok"></span></p>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

            console.log('I work!');
        });
    </script>

{% endblock %}