{% extends "admin.layouts.app" %}

{% block title %}Список загруженных файлов{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>Список загруженных файлов</h1>
        </div>
        <div class="col-md-3 text-right" style="margin-top: 30px">
            <a href="{{ route('admin_files_add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить файл</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% if list.total > 0 %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Дата</th>
                        <th>Сайт</th>
                        <th>Имя файла</th>
                        <th>Всего</th>
                        <th>Новых</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.created_at | date("d.m.Y (H:i)") }}</td>
                            <td>{{ item.source }} </td>
                            <td>{{ item.name }}</td>
                            <td><a href="{{ route('admin_queries_view', {'id': item.id}) }}" title="Просмотреть все запросы в файле">{{ item.all }}</a></td>
                            <td>
                                {% if item.new > 0 %}
                                <a href="{{ route('admin_queries_unique', {'id': item.id}) }}" title="Просмотреть новые запросы из файла">{{ item.new }}</a>
                                {% else %}
                                    нет
                                {% endif %}
                            </td>
                            <td>
                                {% if item.all < 1 or (item.all > 0 and item.new < 1) %}
                                    <a href="{{ route('admin_queries_view', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ list.render() | raw }}
            {% else %}
                <div class="alert alert-info">Нет загруженных файлов</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

