{% extends "admin.layouts.app" %}

{% block title %}Просмотр запросов{% endblock %}
{% block content %}

    <h1>Просмотр запросов (всего  {{ list.total }})</h1>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Сайт</th>
            <th>Запрос</th>
            <th style="width: 150px"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.source }} </td>
                <td>{{ item.text }}</td>
                <td>
                    <a href="{{ route('admin_files_view', {'id': item.id}) }}" class="btn btn-link" title="Отобрить">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
                    <a href="{{ route('admin_files_view', {'id': item.id}) }}" class="btn btn-link" title="Запретить">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ list.render() | raw }}

{% endblock %}